:root {
    --fondo: #fff;
    --color-primario: #f0f0f0;
    --color-primario-hover:#e7dcdc;
    --letra: #000;
    --boton: #909090;
    --boton-hover:#707070;
    --color-secundario:#A0A0A0;
    --color-borde:#333333;
    --tamano-letra-grande: 20px;
    --tamano-letra-mediana: 16px;
    --tamano-letra-peque単a: 12px;
    --tamano-letra-xs: 10px;
}



*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
    background: var(--fondo);
    
}
.contenedor_formulario {
    margin: 0 auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    text-align: center;
    font-weight: 700;
    color: var(--letra);
}
form {
    margin: 40px;
    width: 450px;
    background-color:var(--color-primario);
    border-top: 15px solid red;
    padding: 30px 10px;
    -webkit-box-shadow: -4px 4px 10px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -4px 4px 10px -1px rgba(0,0,0,0.75);
    box-shadow: -4px 4px 10px -1px rgba(0,0,0,0.75);
}
.form {
    width: 100%;
    margin: auto;
    padding: 30px;
}

form .grupo {
    position: relative;
    margin: 45px;
}

input {
    background: white;
    font-size: var(--tamano-letra-mediana);
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
input:focus{
    outline: none;
    color:rgb(26, 24, 24)
} 
label {
    color: var(--letra);
    pointer-events: none;
}
.barra {
    position: relative;
    display: block;
    width: 100%;
}
.barra::before {
    content: "";
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right, #1a1616, #5e0303);
    transition: 0.3s ease width;
    -webkit-transition: 0.3s ease width;
    -moz-transition: 0.3s ease width;
    -ms-transition: 0.3s ease width;
    -o-transition: 0.3s ease width;
    left: 0;
}
input:focus~.barra::before {
    width: 100%;
}
#ingresar{
    text-decoration: none;
    font-family: 'Roboto';
    background-color: rgb(221, 29, 29);
    border: none;
    border-radius: 5px;
    display: block;
    width: 35%;
    margin: 10px auto;
    height: 30px;
    cursor: pointer;
    font-size: var(--tamano-letra-grande);
    font-weight: bold;
    color: rgb(204, 196, 196);
    text-align: center;
}

#ingresar:hover {
    background-color: var(--boton-hover);
    font-weight: bold;
    color: var(--color-primario);
}
#selct_lista-contactos{
    width: fit-content;
    padding: 15px;
    display: flex;
    flex-direction: column;
}
#lista_contactos{
    width: fit-content;
    height: fit-content;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: var(--tamano-letra-mediana);
    text-align: center;
    border: none;
    cursor: pointer;
    background-color: #d0cef2;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border-top: 5px solid rgb(228, 28, 28);
    
}
#lista_contactos span {
    margin-left: 8px;
}
  #lista_contactos:active {
    transform: scale(0.92);
  }

  #lista_contactos-cerrar{
    background-color:rgb(228, 28, 28) ;
    color: var(--fondo);
    text-align: center;
    padding: 5px 8px;
    width: fit-content;
    border-radius: 5px;
    
  }
  #section-contactos{
    display: flex;
  }
  #section-contactos .div-contactos{
    height: fit-content;
    flex-direction: column;
    padding: 40px;
    font-family: 'DM Sans', sans-serif ;
    color: var(--boton-hover);
    background-color: var(--color-primario);
    border:  10px solid #d0cef2;
    border-radius: 10px;
    -webkit-box-shadow: -5px 6px 12px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 6px 12px -3px rgba(0,0,0,0.75);
    box-shadow: -5px 6px 12px -3px rgba(0,0,0,0.75);
    border-top:  30px solid #d0cef2;
    
  }
  #section-contactos .div-contactos h2{
    color: #000;
  }
  #contenedor_confg-matriz{
    margin: 20px 0 ;
  }
  #contenedor_contactos{
    width: 300px;
    height: fit-content;
    border-radius: 10px;
    background-color: #d0cef2;
    -webkit-box-shadow: -5px 6px 12px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 6px 12px -3px rgba(0,0,0,0.75);
    box-shadow: -5px 6px 12px -3px rgba(0,0,0,0.75);
    
  }
  #contenedor_contactos ul {
    width: 100%;
    font-size: 1rem;
    text-align: center;
    
  }
  #contenedor_contactos ul li{
    width: 100%;
    list-style: none;
    padding: .5rem ;
    cursor: pointer;
  }
  #contenedor_contactos ul li:hover{
    background-color:  rgb(228, 28, 28);
    color: var(--fondo);
  }
  #contenedor_confg-matriz{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000;
  }
  #contenedor_confg-matriz span{
    background-color: rgb(228, 28, 28);
    color: var(--fondo);
    cursor: pointer;
    border-radius: 5px;
    -webkit-box-shadow: -5px 6px 12px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 6px 12px -3px rgba(0,0,0,0.75);
    box-shadow: -5px 6px 12px -3px rgba(0,0,0,0.75);
  }
  #contenedor_confg-matriz span:active {
    transform: scale(0.92);
  }

  #btnEditDispMatriz{
    background-color: rgb(228, 28, 28);
    color: var(--fondo);
    cursor: pointer;
    border-radius: 5px;
    -webkit-box-shadow: -5px 6px 12px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 6px 12px -3px rgba(0,0,0,0.75);
    box-shadow: -5px 6px 12px -3px rgba(0,0,0,0.75);
  }
 #btnEditDispMatriz:active {
    transform: scale(0.92);
  }
  
  #contenedor_matriz-disponible{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000;
  }

.contenedor_tablas {
    width: 100%;
    height: fit-content;
    display: flex;
    
} 
#contenedor_tipos-matriz{
    width: fit-content;
    height: fit-content;
    margin-top: 60px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background-color: var(--color-primario);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: -8px 12px 17px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: -8px 12px 17px 1px rgba(0,0,0,0.75);
    box-shadow: -8px 12px 17px 1px rgba(0,0,0,0.75);
    
}
#contenedor_tipos-matriz h2 {
    width: 100%;
    text-align: center;
    padding: 15px;
    font-size: var(--tamano-letra-mediana);
    background-color: rgb(228, 28, 28);
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: var(--fondo);
}
#contenedor_tipos-matriz ul {
    list-style: none;
    padding:   0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    
}
#contenedor_tipos-matriz ul li {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 10px;
    font-size: var(--tamano-letra-mediana);
    font-weight: 500;
    cursor: pointer;
}
#contenedor_tipos-matriz ul li:hover {
    background-color: rgb(228, 28, 28);
    color: var(--fondo);
}
#contenedor_tipos-matriz ul li:active {
    color: var(--fondo);
}
#contenedor_matriz {
    width: fit-content;
    height: fit-content;
    padding: 10px;
    margin: 20px auto ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.matriz {
    margin: 30px auto;
    height: auto;
    -webkit-box-shadow: -4px 4px 10px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -4px 4px 10px -1px rgba(0,0,0,0.75);
    box-shadow: -4px 4px 10px -1px rgba(0,0,0,0.75);
    border-top: 10px solid rgb(228, 28, 28);
    
}
.matriz caption {
    background: var(--color-primario); 
    border-left: 0.5px solid var(--letra);
    border-top: 0.5px solid var(--letra);
    border-right: 0.5px solid var(--letra);
    color:var(--letra);
    padding: 5px;
    font-size: var(--tamano-letra-mediana);
    font-weight: bold;
}
table {
    font-size: var(--tamano-letra-xs);
    table-layout: fixed;
    border-collapse: collapse;
}
thead {
    background:var(--color-primario); 
    border: 0.5px solid rgb(228, 28, 28);
}
th {
    color:var(--letra);
    padding: 8px;
    font-weight: bold;
    text-transform: uppercase;
    border-left: 0.5px solid var(--color-borde);
    border-right: 0.5px solid var(--color-borde);
    border-bottom: 0.5px solid var(--color-borde);
    background-color: var(--color-primario);
}
td {
    padding: 8px;
    text-align: center;
    
    border-left: 0.5px solid var(--color-borde);
    border-right: 0.5px solid var(--color-borde);
    border-bottom: 0.5px solid var(--color-borde);
}
.tbody tr{
    background-color: var(--fondo);
}
.tbody tr:hover {
    background: var(--color-primario-hover)!important;
    cursor: pointer;
}
.btnTable {
    margin: 4px;
    background-color: var(--boton);
    width: 3rem;
    height: auto;
    border-radius: 10px;
    font-size: small;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-primario); 
    border-bottom: 1px solid var(--color-borde);
    padding: 8px;
    
} 
nav h2 {
    color:var(--letra);
    font-size: var(--tamano-letra-grande);
}
nav .material-icons {
    color:var(--letra);
    font-size: 40px;
    margin-right: 80px;
    width: 40px;
}
.menu_acciones {
    list-style: none;
    position: relative;
    
}
.menu_acciones > li > a {
    color: var(--letra);
}
.menu_desplegable {
    position: absolute;
    right: 10px;
    list-style: none;
    position: absolute;
    display: none;
    width: 200px;
    background-color:var(--color-secundario) ;
}
.menu_desplegable > li > a {
    display: block;
    width: 100%;
    padding: 15px 20px;
    color: var(--letra);
    text-decoration: none;
}

.menu_acciones li:hover .menu_desplegable {
    display: block;
}
.menu_desplegable li:hover {
    background-color: rgb(17, 17, 17, 0.5);
    
}
.menu_desplegable li a:hover {
    color: var(--fondo);
}
#export-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    width: 20%;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  #export-btn:hover {
    background-color: #0069d9;
  }
  
  #export-btn:active {
    background-color: #005cbf;
  }


 
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  margin-right:8px ;
  color: var(--letra);
  
}

.oculto {
    display: none;
}

@media (max-width: 1200px) {

    .contenedor_tablas {
        flex-direction: column;
    }

    #contenedor_tipos-matriz {
      width: 100%;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      margin: 0;
      
      
    }

    #contenedor_tipos-matriz h2 {
        width: fit-content;
        font-size: var(--tamano-letra-peque単a);
        margin: 0;
        padding: auto;
    }
        
    
    #contenedor_tipos-matriz ul {
      flex-direction: row;
      justify-content: flex-start;
      width: auto;
    }
    
    #contenedor_tipos-matriz ul li {
    
      font-size: var(--tamano-letra-peque単a);
    }


    
  }
  @media (max-width: 1200px) {

    #contenedor_matriz {
        width: 100%;
        height: fit-content;
        
    }
    .matriz caption {
        padding: 3px;
        font-size: var(--tamano-letra-peque単a);
        
    }
    table {
        font-size: 0.6rem;
        
    }
    
    th {
        
        padding: 2px;
        
        
    }
    td {
        padding: 2px;
        
    }
  }